---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Playground</title>
	</head>
	<body>
		<p>Check your server-side output!</p>
	</body>
</html>